Source: voyage-util
Section: main
Priority: optional
XSBC-Original-Maintainer: Punky Tse <punkytse@yahoo.com>
Maintainer: Roel Huybrechts <roel.huybrechts@ugent.be>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: voyage-util
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This Debian package contains all useful scripts for installing
 and configurating Voyage Linux distribution.
